.post_form{
    text-align: right;

}

.post_form button{
    font-size: 14px;
    line-height: 22px;
    padding: 0 16px;
    margin: 10px 0;

    vertical-align: baseline;
}

.add_comment {
    height: 32px;
    margin-bottom: 10px;
    padding: 0px 12px;
}

.add_comment form .left {
    float:left;
    margin-right:-32px;
    width: 32px;
}

.add_comment form .right {
    float:right;
    width: 100%;
}

.add_comment form .right .rightc {
    margin-left:40px;
}

.add_comment form .right .rightc input {
    width: 100%;
}




.add_reply .profile_post_img{
    width: 24px;
    height: 24px;
    margin-top: 6px;
}

.add_reply_container {
    display: none;
    padding: 0px 44px 10px 44px;
}

.add_reply {
    /*display: none;*/
    height: 30px;
    padding-left: 8px;
    border-left: 2px solid #dddfe2;
    margin-left: -8px;
}

.add_reply form .left {
    float:left;
    margin-right:-24px;
    width: 24px;
}

.add_reply form .right {
    float:right;
    width: 100%;
    margin-top: 6px;
}

.add_reply form .right .rightc {
    margin-left:28px;
}

.add_reply form .right .rightc input {
    height: 24px;
    width: 100%;
    padding: 6px 6px;
}