{% if comments %}
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <a class="profile_a" href="{{ url_for('user_profile', user_zid=comment.zid) }}">
                    {% if comment.profile_img %}
                        <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ comment.profile_img }}">
                    {% else %}
                        <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/default.png">
                    {% endif %}
                </a>

                <div class="message">
                    <a href="{{ url_for('user_profile', user_zid=comment.zid) }}">
                        <strong>{{ comment.full_name }}</strong>
                    </a>
                    <span>{{ comment.message|safe }}</span><br>

                    <a href="#">reply</a><span> · </span>
                    <span class="post_time">{{ comment.time }}</span>
                </div>

            </div>

            {% if comment.replies %}
                <div class="reply">
                    {% for reply in comment.replies %}
                        <div>
                            <a class="profile_a" href="{{ url_for('user_profile', user_zid=reply.zid) }}">
                                {% if reply.profile_img %}
                                    <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ reply.profile_img }}">
                                {% else %}
                                    <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/default.png">
                                {% endif %}
                            </a>
                            <div class="message">
                                <a href="{{ url_for('user_profile', user_zid=reply.zid) }}">
                                    <strong>{{ reply.full_name }}</strong>
                                </a>
                                <span>{{ reply.message|safe }}</span><br>

                                <a href="#">reply</a><span> · </span>
                                <span class="post_time">{{ reply.time }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div style="height: 10px"></div>
            {% endif %}


        {% endfor %}
    </div>
{% else %}
    <div style="height: 10px"></div>
{% endif %}

<div class="add_comment">
    <div class="comment">
        <form action="{{ url_for('new_comment') }}" method="post">
            <div class="left" style="float: left">{% include 'common/user_image.html' %}</div>
            <div class="right">
                <div class="rightc">
                    <input class="form-control form-control-sm" type="text" name="message" placeholder="Write a comment...">
                </div>
            </div>

            <input type="hidden" name="post_id" value="{{ post_id }}">
        </form>
    </div>
</div>

