{% if comments %}
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <a class="profile_a" href="{{ url_for('user_profile', user_zid=comment.zid) }}">
                    {% if comment.profile_img %}
                        <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ comment.profile_img }}">
                    {% else %}
                        <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/default.png">
                    {% endif %}
                </a>

                <div class="message">
                    <a href="{{ url_for('user_profile', user_zid=comment.zid) }}">
                        <strong>{{ comment.full_name }}</strong>
                    </a>
                    <span>{{ comment.message|safe }}</span><br>

                    <a style="cursor: pointer" onclick="show_add_reply(this)" data-comment_id="{{ comment.id }}">reply</a>
                    <span> · </span>
                    {% if comment.zid == g.user.zid %}
                        <a style="cursor: pointer" onclick="delete_comment(this)" data-comment_id="{{ comment.id }}">delete</a>
                        <span> · </span>
                    {% endif %}
                    <span class="post_time">{{ comment.time }}</span>
                </div>

            </div>

            {% if comment.replies %}
                <div class="reply">
                    {% for reply in comment.replies %}
                        <div>
                            <a class="profile_a" href="{{ url_for('user_profile', user_zid=reply.zid) }}">
                                {% if reply.profile_img %}
                                    <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ reply.profile_img }}">
                                {% else %}
                                    <img width="20px" class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/default.png">
                                {% endif %}
                            </a>
                            {% if loop.index < comment.replies|length %}
                            <div class="message">
                            {% else %}
                            <div style="padding-bottom: 0px" class="message">
                            {% endif %}
                                <a href="{{ url_for('user_profile', user_zid=reply.zid) }}">
                                    <strong>{{ reply.full_name }}</strong>
                                </a>
                                <span>{{ reply.message|safe }}</span><br>

                                {% if reply.zid == g.user.zid %}
                                    <a style="cursor: pointer" onclick="delete_reply(this)" data-reply_id="{{ reply.id }}">delete</a>
                                    <span> · </span>
                                {% endif %}

                                <span class="post_time">{{ reply.time }}</span>

                                <!--{% if loop.index < comment.replies|length - 1 %}-->
                                    <!--<div style="height: 5px"></div>-->
                                <!--{% endif %}-->
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div style="padding-bottom: 10px">{% include 'common/new_reply.html' %}</div>
            {% else %}
                <div style="padding-bottom: 10px">{% include 'common/new_reply.html' %}</div>
                <!--<div style="height: 10px"></div>-->
            {% endif %}

        {% endfor %}
    </div>
{% else %}
    <div style="height: 10px"></div>
{% endif %}

<div class="add_comment">
    <div class="comment">
        <!--<form action="{{ url_for('new_comment') }}" method="post">-->
            <div class="left" style="float: left">{% include 'common/user_image.html' %}</div>
            <div class="right">
                <div class="rightc">
                    <input class="form-control" type="text" name="add_comment" data-post_id="{{ post_id }}" placeholder="Write a comment...">
                </div>
            </div>

            <input type="hidden" onkeyup="add_comment(this)" name="post_id" value="{{ post_id }}">
        <!--</form>-->
    </div>
</div>

<script type="text/javascript">
    function show_add_reply(obj) {
        var post_id;
        post_id = $(obj).attr('data-comment_id');
        var add_reply_div = "#add_comment_"+post_id;

        $(add_reply_div).show();
        $(add_reply_div).find("input").get(0).focus()

    }

    function refresh_comments(data) {
        var comments_div = "#post_" + data.post_id + "_comments";
        $(comments_div).html(data.comments_html);

        $('#post_'+data.post_id).text(data.comments_sum)
    }


    $(function() {
      var submit_form = function(e, post_id, comment) {
          if (comment == ''){
              alert('Comment cannot be empty.');
          } else {
              $.getJSON("{{ url_for('new_comment') }}", {
                  comment: comment,
                  post_id: post_id
              }, function(data) {
                  refresh_comments(data);
              });
              return false;
          }
      };

      $('input[name="add_comment"]').unbind();
      $('input[name="add_comment"]').bind('keydown', function(e) {
          if (e.keyCode == 13) {
              var comment = $(this).val();
              var post_id = $(this).attr("data-post_id");

              submit_form(e, post_id, comment);
          }
      });

    });

    function delete_comment(obj){
        var comment_id = $(obj).attr("data-comment_id");
        var r = confirm("Are u sure to delete this comment? ");
        if (r == true) {
            $.getJSON("{{ url_for('delete_comment') }}", {comment_id: comment_id}, function(data){
                refresh_comments(data);
            });
        }
    }

    $(function() {
        var submit_form = function(e, comment_id, reply) {
            if (reply == ''){
                alert('Reply cannot be empty.');
            } else {
              $.getJSON("{{ url_for('new_reply') }}", {
                  reply: reply,
                  comment_id: comment_id
              }, function(data) {
                  refresh_comments(data);
              });
              return false;
            }
        };

        $('input[name="add_reply"]').unbind();
        $('input[name="add_reply"]').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                var reply = $(this).val();
                var comment_id = $(this).attr("data-comment_id");

                submit_form(e, comment_id, reply);
            }
        });

    });

    function delete_reply(obj){
        var reply_id = $(obj).attr("data-reply_id");
        var r = confirm("Are u sure to delete this reply? ");
        if (r == true) {
            $.getJSON("{{ url_for('delete_reply') }}", {reply_id: reply_id}, function(data){
                refresh_comments(data);
            });
        }
    }
</script>
