<div id="time_line">
{% for post in posts %}
    <div class="box_top">
        <div class="posts">
            <a class="profile_a" href="{{ url_for('user_profile', user_zid=post.zid) }}">
                <img class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ post.profile_img }}">
            </a>
            <a href="{{ url_for('user_profile', user_zid=post.zid) }}">
                <strong>{{ post.full_name }}</strong>
            </a>
            <br>
            <span class="post_time">
                <a style="color: #90949c" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom"
                   title=" {{ post.time }} ">
                    {{ post.time_show }}
                </a>

                <span role="presentation" aria-hidden="true"> · </span>
                {% if post.privacy == "public" %}
                    <a style="color: #90949c" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title=" Public ">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </a>
                {% elif post.privacy == "friends" %}
                    <a style="color: #90949c" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title=" Public ">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </a>
                {% elif post.privacy == "onlyme" %}
                    <a style="color: #90949c" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title=" Public ">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                {% else %}
                {% endif %}
            </span>

            <p class="message">{{ post.message|safe }}</p>


            <div class="comments_sum">
                <a onclick="show_comments(this)" id="post_{{ post.post_id }}">
                    {% if post.comment.count > 1 %}
                        {{ post.comment.count }} comments
                    {% elif post.comment.count == 0 %}
                        add comment
                    {% else %}
                        {{ post.comment.count }} comment
                    {% endif %}
                </a>

                {% if post.zid == g.user.zid %}
                    <span> · </span>
                    <a style="cursor: pointer" onclick="delete_post(this)" data-post_id="{{ post.post_id }}">delete</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="post_{{ post.post_id }}_comments" class="box_bottom"></div>
{% endfor %}
</div>

{% include 'common/load_more.html' %}


<script>
    function show_comments(obj) {
        var post_id;
        post_id = $(obj).attr('id');
        var comments_div = "#"+post_id+"_comments";

        if($(comments_div).html() == ""){
            var comments_count = $(obj).text();
            $(obj).text("loading..");

            $.get("{{ url_for('get_post_comments') }}", {post_id: post_id}, function(data){
                $(comments_div).html(data);
                $(obj).text(comments_count);
//                $(comments_div).find('input[name="add_comment"]').focus();
            });
        }else{
            $(comments_div).html("");
        }
    }


    function delete_post(obj){
        var post_id = $(obj).attr("data-post_id");
        var r = confirm("Are u sure to delete this post? ");
        if (r == true) {
            $.getJSON("{{ url_for('delete_post') }}", {post_id: post_id}, function(data){
                if (data.return_code == 0) {
                    location.reload();
                }
            });
        }
    }



</script>


<script>
    function load_more(obj) {

        var post_id_start = $(obj).attr("data-post_id_start");
//        alert(post_id_start);
        $(obj).children().text("loading");
        $.get("{{ url_for('load_more_index') }}", {post_id_start: post_id_start}, function(data){
            $(obj).html('');

            $("#time_line").append(data);
        });
    }


</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>