{% for post in posts %}
    <div class="box_top">
        <div class="posts">
            <a class="profile_a" href="{{ url_for('user_profile', user_zid=post.zid) }}">
                <img class="profile_post_img" src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ post.profile_img }}">
            </a>
            <a href="{{ url_for('user_profile', user_zid=post.zid) }}">
                <strong>{{ post.full_name }}</strong>
            </a>
            <br>
            <span class="post_time">{{ post.time }}</span>

            <p class="message">{{ post.message|safe }}</p>

            <a onclick="show_comments(this)" id="post_{{ post.post_id }}" class="comments_sum">
                {% if post.comment.count > 1 %}
                    {{ post.comment.count }} comments
                {% elif post.comment.count == 1 %}
                    1 comment
                {% else %}
                    add comment
                {% endif %}
            </a>
        </div>
    </div>

    <div id="post_{{ post.post_id }}_comments" class="box_bottom"></div>
{% endfor %}



<script>
    function show_comments(obj) {
        var post_id;
        post_id = $(obj).attr('id');
        var comments_div = "#"+post_id+"_comments";

        if($(comments_div).html() == ""){
            var comments_count = $(obj).text();
            $(obj).text("loading..");

            $.get("{{ url_for('get_post_comments') }}", {post_id: post_id}, function(data){
                $(comments_div).html(data);
                $(obj).text(comments_count);
                $(comments_div).find('input[name="add_comment"]').focus();
            });
        }else{
            $(comments_div).html("");
        }
    }
</script>
