{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>

    {% if session['logged_in'] %}
        <h3>New Post</h3>
        <form action="/post" method="post">
            <textarea name="message" rows="4" cols="50"></textarea>
            <div class="actions"><input type="submit" value="Post"></div>
        </form>

        {% if posts %}
            {% include 'common/posts.html' %}
        {% else %}
            Nothing new with your friends.
        {% endif %}

    {% endif %}
{% endblock %}