{% extends "layout.html" %}
{% block title %}Log In{% endblock %}

{% block body %}
    {% if session['logged_in'] %}
        U have already login.
    {% else %}
        <div class="login">
            <form class="form-signin" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>

                <input type="text" class="form-control" name="zid" value="{{ request.form.zid }}" placeholder="ZID">
                <input type="password" class="form-control" name="password" placeholder="Password" required="">
                <!--<small>e.g. z3489385/111111 - medium</small><br>-->
                <small>e.g. <b>z5014861</b>/<b>chelsea</b> (from medium dataset)</small>

                {% if error %}
                    <span class="label label-warning">{{ error }}</span>
                {% endif %}
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="remember-me"> Remember me-->
                    <!--</label>-->
                <!--</div>-->
                <div style="height: 5px"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    {% endif %}


{% endblock %}