{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
    {% if user_info %}
        <h3>Profile:</h3>
        <div class="box_top" style="padding-bottom: 15px">
            <img style="width: 100px; padding-bottom: 15px"
                 src="{{ url_for('static', filename='user/') }}{{ config['PROFILE_IMG_DIR'] }}/{{ user_info.profile_img }}"
                 alt=""> <br>
            {# Private information such as e-mail, password, lat, long and courses should not be displayed. #}
            <text>ZID: {{ user_info.zid }}<br></text>
            <text>Fullname: {{ user_info.full_name }}<br></text>
            <text>Birthday: {{ user_info.birthday }}<br></text>
            <text>Home Suburb: {{ user_info.home_suburb }}<br></text>
            <text>Program: {{ user_info.program }}<br></text>
        </div>


        <h3>Friends:</h3>
        {% include 'common/friends.html' %}


        <h3>POSTS:</h3>
        {% if posts %}
            {% include 'common/posts.html' %}
        {% else %}
            <div class="box_top">Nothing new with your friends.</div>
        {% endif %}
    {% else %}
        This user does not exit.
    {% endif %}


{% endblock %}