{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
    {% if user_info %}
        <h3>Profile:</h3>
        <img src="/static/{{ config['PROFILE_IMG_DIR'] }}/{{ user_info.profile_img }}"
             width="100px"
             alt=""> <br>
        {# Private information such as e-mail, password, lat, long and courses should not be displayed. #}
        zid: {{ user_info.zid }}<br>
        full_name: {{ user_info.full_name }}<br>
        birthday: {{ user_info.birthday }}<br>
        home_suburb: {{ user_info.home_suburb }}<br>
        program: {{ user_info.program }}<br>

        <h3>POSTS:</h3>
        {% for post in user_posts %}
            {{ post.time }}<br>
            {{ post.message }}<br>
            <br>
        {% endfor %}

        <h3>Friends:</h3>
        {% for mate in user_mates %}
            {% if mate.full_name %}
                <a class="profile_a" href="{{ url_for('user_profile', user_zid=mate.mate_zid) }}">
                    <img class="profile_img" src="/static/{{ config['PROFILE_IMG_DIR'] }}/{{ mate.profile_img }}">
                </a>
                <a href="{{ url_for('user_profile', user_zid=mate.mate) }}">{{ mate.full_name }}</a>
                <br>
            {% else %}
                <a>{{ mate.mate_zid }}(user dose not exist)</a>

                <br>
            {% endif %}
        {% endfor %}

    {% else %}
        This user does not exit.
    {% endif %}


{% endblock %}