.profile_img {
    border-radius: 4px;
    width: 32px;
    height: 32px;
    border: 0;
    margin-top: 9px;
}

.profile_a {
    font-size: 0px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/*nav a {*/
    /*padding-bottom: 0 !important;*/
    /*padding-top: 0 !important;*/
/*}*/


.body {
    padding-top: 50px;
}